@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap');

:root {
	--black: hsl(0, 0%, 0%);
	--anti-flash: hsl(0, 0%, 94%);
	--orioles-orange: hsl(11, 100%, 56%);

	--primary: var(--black);
	--secondary: var(--anti-flash);
	--accent: var(--orioles-orange);

	--header-h: 100px;
}

body {
	font-family: 'Space Grotesk';
	color: var(--primary);
	background-color: var(--secondary);
	height: 100lvh;
	overflow: hidden;
	overflow-x: hidden;
}

html {
	overflow-x: hidden;
}

.material-symbols-outlined {
	color: var(--primary);
	font-size: 2rem;
}

.menu {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1220px;
	margin: 0 auto;
	padding: 0rem 2rem;
	height: var(--header-h);
	z-index: 10;
}

.menu-brand span {
  font-weight: 300;
}

.menu-links {
	display: flex;
	position: absolute;
	align-items: center;
	width: 100%;
	top: 0;
	left: -100%;
	height: 100vh;
	font-size: 4rem;
	color: var(--secondary);
	visibility: hidden;
	transition: 0.1s 0.3s;
}

.menu-links > .container {
	display: flex;
	flex-direction: column;
}

.menu-links a {
	position: relative;
  margin-left: 2rem;
	transform: translateX(-50px);
	filter: blur(10px);
	opacity: 0;
	transition: .3s ease;
	overflow: hidden;
}

.menu a span {
	display: inline-block;
	transition: .6s ease;
}


.menu a:hover span {
	transform: translateY(-100%);
}

.menu-links a span::before {
	content: attr(data-text);
	position: absolute;
	top: 100%;
	left: 0;
	font-size: 4rem;
}

.menu-bg {
	position: absolute;
	right: 2.8rem;
	top: 2.8rem;
	width: 0px;
	height: 0px;
	color: var(--secondary);
	background-color: var(--accent);
	font-size: 4rem;
	clip-path: circle(50% at 50% 50%);
	transition: 1s ease;
	pointer-events: none;
}

.menu-bg-lg {
	position: fixed;
	top: 0;
	right: -500vh;
	width: 200vw;
	height: 100vh;
	background-color: var(--accent);
}

.menu-toggle {
	z-index: 10;
}

.menu-toggle span[data-icon='close'] {
	display: none;
}

/* MENU SHOW TRUE */

.menu[data-show='true'] .menu-links {
	left: 0;
	visibility: visible;
}

.menu[data-show='true'] .menu-links a {
	opacity: 1;
	transform: translateX(0);
	transition: .8s var(--appear) ease;
	filter: blur(0);
	visibility: visible;
}

.menu[data-show='true'] .menu-toggle span[data-icon='close'] {
	display: inline-block;
	color: var(--secondary)
}

.menu[data-show='true'] .menu-toggle span[data-icon='menu'] {
	display: none;
}

.menu[data-show='true'] .menu-bg {
	right: -100vh;
	top: -100vh;
	width: 400vh;
	height: 400vh;
	transition: 1s ease;
}

.menu[data-show='true'] .menu-bg-lg {
	transform: translateX(-500vh);
	transition: 0.6s 0.6s;
}

.home {
	display: flex;
	flex-direction: column;
	gap: 6rem;
	padding: 0 2rem;
	margin: 0 auto;
	height: calc(100vh - var(--header-h));
	max-width: 1220px;
	overflow: hidden;
}

.home h1 {
	font-size: 4rem;
}

.home h1 span {
	font-weight: 400;
}

.home h1 .underscore {
  color: var(--accent);
  font-style: normal;
}

.carousel {
	display: flex;
	width: 200%;
}

.carousel-body {
	display: flex;
	justify-content: space-around;
	width: 100%;
	animation: carousel 20s linear infinite;
}

.carousel-body figure {
	overflow: hidden;
	border: 1px solid var(--primary);
	width: 250px;
}

.carousel-body figure img:hover {
	transform: scale(1.2);
}

@keyframes carousel{
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}

@media (max-width: 500px) {
	h1 {
		font-size: 2.8rem !important;
	}
	.menu-bg {
		transition: .6s ease-out;
	}

	.menu[data-show='true'] .menu-bg {
		transition: 1s ease-in-out;
	}
}
